body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* хедер для всех */
.heading {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.all_in {
  display: flex;
  align-items: center;
  transition: color;
}
.menu {
  display: flex;
  list-style: none;
}

.menu_list {
  margin-right: 50px;
}
.menu_list:last-child {
  margin-right: 0;
}

.webstydia {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.webstydia:focus .shit {
  color: #2196f3;
}
.shit {
  color: #212121;
}

a:focus {
  color: #2196f3;
}

.studia {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.studia:hover {
  color: #2196f3;
}
.cut::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -28px;
  background: #2196f3;
  border-radius: 2px;
}

.portfolio {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.portfolio:hover {
  color: #2196f3;
}
.portfolio:focus {
  color: #2196f3;
}

.contacs {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacs:hover {
  color: #2196f3;
}
.contacs:focus {
  color: #2196f3;
}
.bly {
  color: #2196f3;
}

.mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.telefon {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.call {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.call_top {
  margin-right: 30px;
}
.call_top:last-child {
  margin-right: 0;
}
.mail:focus .top_icons {
  fill: #2196f3;
}
.telefon:focus .top_icons_2 {
  fill: #2196f3;
}
.top_icons {
  width: 16px;
  height: 12px;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover .top_icons {
  fill: #2196f3;
}
.top_icons_2 {
  width: 10px;
  height: 16px;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.telefon:hover .top_icons_2 {
  fill: #2196f3;
}
.mail:hover {
  color: #2196f3;
}
.telefon:hover {
  color: #2196f3;
}

/* конец общей верхней части */
/* главная */
/* С груповой фоткой+ модальное меню */
.main__hi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #212121;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hi__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hi__button {
  width: 200px;
  font-family: Roboto;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  background: #2196f3;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.h1_button:hover {
  background: #2196f3;
}
/* С Иконками svg */
.main__content {
  text-decoration: none;
  padding-top: 94px;
}
.content__adv_icon {
  width: 70px;
  height: 70px;
}
.icon_size {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.content__adv {
  display: flex;
}
.content__adv_item-title {
  margin-right: 30px;
}
.content__adv_item-title:last-child {
  margin-right: 0;
}

.content__adv_item-title-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  padding-bottom: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.content__adv_item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

/*.interactiv:first-child {
  
}
*/
/* 3 фотографии */
.content__what_title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.interactiv {
  margin-right: 30px;
}
.interactiv:last-child {
  margin-right: 0;
}
.position_of_text {
  position: relative;
  width: 370px;
  height: 294px;
}
.content_top {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.content_text_top {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 27px;
}

.content__what_imgs {
  list-style: none;
  display: flex;
}
/* SVG */
.workspake {
  background-color: #f5f4fa;
}
.items-2 {
  list-style: none;
  display: flex;
  justify-content: center;
}

.team {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.item {
  margin-right: 30px;
  text-align: center;
  border: 1px solid #eeeeee;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.item:last-child {
  margin-right: 0;
}
.peoples_icon {
  padding-bottom: 30px;
  padding-top: 30px;
}
.peoples {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 10px;
}
.peoples-2 {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 400;

  color: #757575;
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: #2196f3;
}
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}
.team-social-link:focus {
  background-color: #2196f3;
}
.team-social-link:hover .team-social-icon {
  fill: white;
}
/* Будет блок */
.clients {
  display: flex;
  justify-content: center;
}
.client {
  margin-right: 30px;
}
.client:last-child {
  margin-right: 0px;
}
.client-icon {
  width: 106px;
  fill: #afb1b8;
  height: 60px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-icon:hover {
  fill: #2196f3;
}
.client-link:focus .client-icon {
  fill: #2196f3;
}
.client-link:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-link:hover .client-icon {
  fill: #2196f3;
}
/* Главная конец */

.main_pade {
  display: flex;
  flex-direction: column;
}
.port-butts {
  margin-right: 8px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button {
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Карттинки */
.portfolio-link {
  text-decoration: none;
}

.items {
  list-style: none;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  text-align: left;
}

.item_3 {
  position: relative;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-right: 30px;
}
.item_3:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item_3:hover .back_text {
  transform: translateY(0);
}
.item_3:nth-child(3n) {
  margin-right: 0;
  top: 0;
  left: 0;
}
.active_text {
  position: relative;
  overflow: hidden;
}
.back_text {
  position: absolute;
  top: 0%;
  left: 0%;
  font-weight: 400;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bot-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.bot-pre-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
/*
.bot {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}*/

/* Футер для всех */
.end {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.webstydia_2 {
  text-decoration: none;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;

  display: block;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.webstydia_2:focus .shit-2 {
  color: #2196f3;
}
.adress {
  width: 231px;
  height: 21px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-right: 0;
}

.shit-2 {
  color: #ffffff;
}

.mail_2 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail_2:hover {
  color: #2196f3;
}
.telefon_2 {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.telefon_2:hover {
  color: #2196f3;
}
.nav_bottom {
  padding-top: 9px;
  padding-bottom: 9px;
}
.call-2 {
  list-style: none;
  padding-left: 0;
}
.fut_end_1 {
  display: flex;
  flex-direction: column;
}
.fut_end {
  display: flex;
}
.fut_end_2 {
  padding-left: 70px;
  padding-top: 12px;
}
.come_link {
  display: flex;
}

.come_item + .come_item {
  margin-left: 10px;
}
.come_text {
  width: 145px;
  height: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}
.come_link_list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.come_link_list:hover {
  background-color: #2196f3;
}
.come_icons {
  fill: #ffffff;
}
.come_link_list:focus .come_icons {
  fill: #ffffff;
}
.come_link_list:focus {
  background: #2196f3;
}
.feetback_mail {
  display: flex;
  flex-direction: column;
}

.mail_text {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.feetback_input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.feetback_mail_input {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.button_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.button_futer {
  position: relative;
  height: 50px;
  min-width: 200px;

  background-color: #2196f3;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.telegram_form_icon {
  position: absolute;
  right: 0%;
  top: 19%;
}
